﻿<!--Main Index page to display list of all items -->

@model IEnumerable<Task7.Models.ItemModel>

@{
    ViewData["Title"] = "Home Page";
}

<br>
<h2>Items List</h2> 

<br>
<h5><td>@Html.ActionLink("New Item", "New", "Home")</h5>
<table class="table">

<tr>
<th>Id</th>
<th>Name</th>
<th>Type</th>
<th>Price</th>
<th >Actions</th>
</tr>


@foreach(var item in Model)
{
<tr>  
  <td>@Html.DisplayFor(modelItem => item.id)</td>
  <td>@Html.DisplayFor(modelItem => item.name) </td> 
  <td>@Html.DisplayFor(modelItem => item.type) </td>
      <td>@Html.DisplayFor(modelItem => item.price) </td> 
   
   <td>@Html.ActionLink("Update", "Update", "Home", new { id = @item.id }, null)</td> 
       <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = @item.id }, null)</td> 
</tr>
}




</table>



