<!--Add new Item Page -->

@model Task7.Models.ItemModel
<br>
<h2>Add New Item</h2>
<br><br>
@using (Html.BeginForm("New", "Home", FormMethod.Post, new { }))
    {
        <table>

            
                    <tr>
                    <td><label>Name</label></td>
                 <td>   @Html.TextBoxFor(m => m.name)</td>
                
                </tr>
            

              <tr>
                 <td>   <label>Type</label></td>
               <td>     @Html.TextBoxFor(m => m.type)</td>
              
</tr>

               <tr>
                 <td>   <label>Value</label></td>
                 <td>   @Html.TextBoxFor(m => m.price)</td>
               
               </tr>
               
              

</table>

            <div>
                <input id="Submit" type="submit" class="btn btn-success"  value="save"/>
            </div>
 }
      
   
